(
    address: "207.180.204.253",
    port: 80,
    paths : {
        "207.180.204.253" : (
            path : "~/Portfolio_Website",
            allow : [
                "html",
                "css",
                "js",
                "jpg",
                "png",
                "svg",
                "ico"
            ]
        ),
    },
    timeout: 5,
)